# This is a basic workflow to help you get started with Actions

name: update-twlk

# Controls when the workflow will run
on:
  schedule:
    - cron: '30 23 * * *'
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  twlk:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo $(date '+%Y-%m-%d %H:%M:%S UTC') >> update.log
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add update.log
          git commit -m "Update update.log - $(date '+%Y-%m-%d %H:%M UTC')"
          git push origin HEAD:main
          
